@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./images/bg-intro-mobile.png');
  background-color: var(--red);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 20px;
  color: white;
}

.free-card {
  background-color: var(--blue);
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-card-content {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
}

.center {
  text-align: center;
}

.terms {
  color: var(--grayish-blue);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.free-trial {
  width: 100%;
  background-color: var(--green);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
}

.free-trial:hover {
  opacity: 0.8;
}

.services {
  color: var(--red);
}

.article {
  padding-bottom: 40px;
}

h1 {
  padding-bottom: 20px;
  font-weight: 700;
}

input {
  display: block;
  width: 100%;
  margin-top: 18px;
  padding: 19px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-placeholder);
  letter-spacing: 0.25px;
  border: 1px solid var(--grayish-blue);
  border-radius: 5px;
  outline: none;
}
input:first-child {
  margin-top: 0px;
}
input:focus {
  border-color: var(--red);
}

.input-error {
  border: 2px solid var(--red);
  background: white url('images/icon-error.svg') no-repeat right 27px center;
}
.error-message {
  margin-top: 6px;
  color: var(--red);
  font-style: italic;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 16px;
  text-align: right;
}

@media (min-width: 740px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  main {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
  }

  .article {
    width: 50%;
    align-self: center;
  }

  .form-card {
    width: 50%;
  }

  .article {
    padding-bottom: 0;
    padding-right: 20px;
  }

  input {
    padding: 19px 32px;
    font-size: 1.2rem;
  }
}
